
.form-control
  background-color:$blue2
  border: 1px solid $yellow2
  color: $yellow2

.form-control:focus
  background-color:$blue2
  border: 1px solid $yellow2
  color: $yellow2

/* Chrome/Opera/Safari */
.form-control::-webkit-input-placeholder
  color: $yellow2

/* Firefox 19+ */
.form-control::-moz-placeholder
  color: $yellow2

/* IE 10+ */
.form-control:-ms-input-placeholder
  color: $yellow2

/* Firefox 18- */
.form-control:-moz-placeholder
  color: $yellow2
